h1 {
    text-align: center;
}

table  {
    border: 2px solid black;
    margin-left: 150px;
}
.newcolor {
    transition: color 0.5s; 
}
.invisibile {
   display: none;
}
.highlight {
    color: orange;
}
td img {
    width: 150px;
    height: 150px;
}
h2 {
    text-align: center;
}
form {
    text-align: center;
}
footer {
    text-align: center;
}
button {
    margin-left: 100px;
}